{% extends 'exoplanets/layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'exoplanets/styles/home.css' %}">
{% endblock %}

{% block title %}
    Exoplanets
{% endblock %}

{% block body %}
    <div class='d-flex'>
        <div class="new-card">
            <h1>What are exoplanets?</h1>
            <p>An exoplanet is any planet beyond our solar system. Most of them orbit other stars, but some free-floating exoplanets, called rogue planets, are untethered to any star. There are more than 5,600 confirmed exoplanets out of the billions that we believe exist.</p>
            <a href="{% url 'overview' }"></a>
        </div>
        <div class="new-card">
            <h1>History of Exoplanets</h1>
            <p>The history of exoplanet discovery began in the 1990s when the first confirmed exoplanet, 51 Pegasi b, was found orbiting a sun-like star. This breakthrough ignited interest in the search for planets beyond our solar system. </p>
            <a href="{% url 'overview' }"></a>
        </div>
    </div>

    <div class='d-flex'>
        <div class="new-card">
            <h1>Types of Exoplanets</h1>

            <p>Exoplanets are planets located outside our solar system, varying in size and composition. Types include hot Jupiters, super-Earths, and ice giants, each with unique characteristics and potential for supporting life.
            </p>
            <a href="{% url 'overview' }"></a>
        </div>
        <div class="new-card">
            <h1>How are exoplantes found </h1>
            <p></p>
        </div>
    </div>
    <iframe src="https://eyes.nasa.gov/apps/exo/" width="1000" height="500"></iframe>

    
{% endblock %}
