{% extends 'exoplanets/layout.html' %}

{% block title %}
    Types of Exoplanets
{% endblock %}

{% block body %}
    <h1>Types of Exoplanets</h1>
    <p>Exoplanets come in a wide variety of sizes, from gas giants larger than Jupiter to small, rocky planets about as big around as Earth or Mars. They can be hot enough to boil metal or locked in deep freeze. They can orbit their stars so tightly that a “year” lasts only a few days; they can orbit two suns at once. Some exoplanets are sunless rogues, wandering through the galaxy in permanent darkness.</p>
{% endblock %}