{% extends 'exoplanets/layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'exoplanets/styles/visualization.css' %}">
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="neptune-container">
      <img src="../../static/exoplanets/assets/neptune.png" alt="Neptune"/>
    </div>
    <div class="uranus-container">
      <img src="../static/exoplanets/assets/uranus.png" alt="Uranus"/>
    </div>
    <div class="saturn-container">
      <img src="../static/exoplanets/assets/saturn.png" alt="Saturn"/>
    </div>
    <div class="jupiter-container">
      <img src="../static/exoplanets/assets/jupiter.png" alt="Jupiter"/>
    </div>
    <div class="mars-container">
      <img src="../static/exoplanets/assets/mars.png" alt="Mars"/>
    </div>
    <div class="earth-container">
      <img src="../static/exoplanets/assets/earth.png" alt="Earth"/>
    </div>
    <div class="venus-container">
      <img src="../static/exoplanets/assets/venus.png" alt="Venus"/>
    </div>
    <div class="mercury-container">
      <img src="../static/exoplanets/assets/mercury.png" alt="Mercury"/>
    </div>
    <div class="sun-container">
      <img src="../static/exoplanets/assets/sun.png" alt="Sun"/>
    </div>
</div>
{% endblock %}
